<!-- <head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head> -->
<div th:fragment="footer">
	<nav class="navbar navbar-fixed-bottom navbar-inverse">
		<div class="navbar-header">
			<p class="navbar-text">
				Strona stworzona w ramach przedmiotu Inżynieria Oprogramowania <br/>
				Copyright © 2017 <em>MG, DO, WO, MP</em>
			</p>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Skontaktuj się z nami</a></li>
		</ul>
	</nav>
</div>