<div th:fragment="header">
	<div style="margin-bottom: 10px; border: solid;">
   		This is the header of the application.
   		<div style="float: right;">
   			<div style="display: inline; float: left; margin-right: 5px;" sec:authorize="hasRole('ROLE_ADMIN')">
   			<a th:href="@{/admin}">PANEL ADMINISTRACYJNY</a>
   			
   			</div>
   			<div style="display: inline; float: left;">
   			 <form th:action="@{/logout}" method="post">
   			 <div sec:authorize="isAuthenticated()">
            	<input type="submit" value="Wyloguj"/>
           	</div>
        	</form>
        	</div>
   		</div>
   	</div>
</div>