<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div th:fragment="header">
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/home}">IO2017</a>
			</div>
			<ul class="nav navbar-nav navbar-right"
				sec:authorize="!isAuthenticated()">
				<li><a th:href="@{/login}">Zaloguj</a></li>
				<li><a th:href="@{/register/new}">Rejestracja</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right"
				sec:authorize="isAuthenticated()">
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin}">Panel administracyjny</a></li>
				<li>
					<a th:href="@{/dictionaries}">Zarządzaj swoimi słownikami</a>
				</li>
				<li>
					<p class="navbar-text">
						<span sec:authentication="name"></span>
					</p>
				</li>
				<li>
					<form th:action="@{/logout}" method="post">
						<button type="submit" class="btn btn-default navbar-btn">Wyloguj</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>
</div>