<nav th:fragment="sidebar" class="navbar navbar-fixed-top col-md-2" id="sidebar-menu" role="navigation">
	 <ul class="nav sidebar-nav">
                <!-- <li class="dropdown">
                  <a href="#collapsing-menu" class="dropdown-toggle" data-toggle="collapse">Kategorie<span class="caret"></span></a>
                  <ul id="collapsing-menu" class="collapse">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li th:each="category : ${categories}"><a href="#"><p th:text="${category.name}"></p></a></li>
               
                  </ul>
                </li> -->
                <li><a th:href="@{/categories}">Ucz się</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/admin}">Panel administracyjny</a></li>
				<li sec:authorize="isAuthenticated()">
					<a th:href="@{/dictionaries}">Zarządzaj swoimi słownikami</a>
				</li>	
				<li>
				<form style="margin-left: 20px" th:action="@{/searchUsers}" class="form-horizontal">
				<div class="form-group">
				<input type="text" name="name" placeholder="Szukaj użytkownika"/>
				</div>
				</form>
				</li>
            </ul>
</nav>