html, body{
	margin:0;
   padding:0;
   height:100%;
   
}
.wrapper{
	overflow:auto;
	position: relative;
	min-height: 100%;
	width: 100%;
    padding: 100px 0; 
}
.navbar-bottom {
position:absolute;
clear: both;
bottom: 0;
width: 100%;
marigin-top: 50px;
padding: 5px;
}

.navbar-inverse > p{
	color = #ffffff
}

#sidebar-menu {
	margin-top: 52px;
	margin-left: -20px;
	background-color: #e5e5e5;
	height: calc(100% - 52px);
	padding-right: 0;
	z-index: 0;
	font-size: 15px;
	font-weight: bold;
}

.sidebar-nav>li>a{
	/* color: #111111; */
}

.sidebar-nav>li>a:hover{
	color: #444444;
}
