<!--/* Admin to trochę myląca nazwa bo z template korzystają też zwykli użytkownicy */-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Zarządzanie słownikami</title>
<thymeleaf th:replace="fragments/head :: head" />
</head>
<body>
	<main class="wrapper">
	<div th:replace="fragments/header :: header"></div>
	<nav th:replace="fragments/sidebar :: sidebar"></nav>
	<div class="col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3">
		<span th:if="${isNotAdminPage}" >
			<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/dictionaries}"
					class="btn btn-primary" role="button">Wyświetl wszystkie słowniki</a>
		</span>
		<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}" 
			class="btn btn-primary" role="button">Panel administracyjny</a>
		<a th:href="@{/dictionaries/newDictionary}"
			class="btn btn-success" role="button">Nowy słownik</a>
	
		<h1 th:if="${isNotAdminPage}">Twoje słowniki:</h1>
		<h1 th:unless="${isNotAdminPage}">Wszystkie słowniki:</h1>
		
		<table class="table table-bordered">
			<tr>
				<th>ID</th>
				<th>Nazwa</th>
				<th>Język</th>
				<th>Trudność</th>
				<th>Nazwa kategorii</th>
				<th th:unless="${isNotAdminPage}" >Właściciel</th>
				<th>Edytuj słówka</th>
				<th>Edycja</th>
				<th>Usuń</th>
			</tr>
			<tr th:each="dictionary : ${dictionaries}">
				<td th:text="${dictionary.dictionaryId}"></td>
				<td th:text="${dictionary.name}"></td>
				<td th:text="${dictionary.language}"></td>
				<td th:text="${dictionary.difficulty}"></td>
				<td th:text="${dictionary.category.name}"></td>
				<td th:unless="${isNotAdminPage}"  th:text="${dictionary.user} ? ${dictionary.user.userName} : 'N/A'"></td>
				<td><a role="button" class="btn btn-warning"  th:href="@{/dictionaries/editWords(id=${dictionary.dictionaryId})}">Edytuj słówka</a></td>
				<td><a role="button" class="btn btn-warning"  th:href="@{/dictionaries/editDictionary(id=${dictionary.dictionaryId})}">Edytuj</a></td>
				<td><a role="button" class="btn btn-danger" th:href="@{/dictionaries/deleteDictionary(id=${dictionary.dictionaryId})}">Usuń</a></td>
				
			</tr>
		</table>

	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
	</main>
</body>
</html>