<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Zarządzanie kategoriami</title>
<thymeleaf th:replace="fragments/head :: head" />
</head>
<body>
	<main class="wrapper">
	<div th:replace="fragments/header :: header"></div>
	<nav th:replace="fragments/sidebar :: sidebar"></nav>
	<div class="col-md-8 col-md-offset-3">
	
		<a th:href="@{/admin}" class="btn btn-primary" role="button">Panel
			administracyjny</a>
		<a th:href="@{/admin/categories/newCategory}"
			class="btn btn-default" role="button">Nowa kategoria</a>
	
		<h1>Kategorie:</h1>
		
		<table class="table table-bordered">
			<tr>
				<th>ID</th>
				<th>Nazwa</th>
				<th>Edycja</th>
				<th>Usuń</th>
			</tr>
			<tr th:each="category : ${categories}">
				<td th:text="${category.categoryId}"></td>
				<td th:text="${category.name}"></td>
				<td><a role="button" class="btn btn-warning"  th:href="@{/admin/categories/editCategory(id=${category.categoryId})}">Edytuj</a></td>
				<td><a role="button" class="btn btn-danger" th:href="@{/admin/categories/deleteCategory(id=${category.categoryId})}">Usuń</a></td>
				
			</tr>
		</table>

	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
	</main>
</body>
</html>