
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
<title>Potwierdzanie rejestracji</title>
<thymeleaf th:replace="fragments/head :: head" />
</head>
   <body >
	<main class='wrapper'>
	<div th:replace="fragments/header :: header"></div>
	<nav th:replace="fragments/sidebar :: sidebar"></nav>
	<div class="col-md-4 col-md-offset-5">
	<p th:text="${message}"> </p>
	<a th:href="@{/home}">Przejdź do strony głównej</a>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	</main>
</body>

</html>