<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Tworzenie nowego użytkownika</title>
<thymeleaf th:replace="fragments/head :: head" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<main class="wrapper">
	<div class="col-md-4 col-md-offset-4">
		<form action="#" th:action="@{/admin/users/newUser/submit}"
			method="post" class="form-horizontal">
			<div class="form-group">
				<label for="login">Login:</label> <input type="text"
					th:field="*{user.userName}" class="form-control" id="login" />
			</div>
			<div class="form-group">
				<label for="pwd">Hasło:</label> <input type="password"
					th:field="*{user.password}" class="form-control" id="pwd" />
			</div>
			<div class="form-group">
				<label for="email">Adres email:</label> <input type="email"
					th:field="*{user.email}" class="form-control" id="email" />
			</div>
			<div class="form-group">
				<label for="imie">Imię:</label> <input type="text"
					th:field="*{user.name}" class="form-control" id="imie" />
			</div>
			<div class="form-group">
				<label for="nazwisko">Nazwisko:</label> <input type="text"
					th:field="*{user.surname}" name="_enabled" th:value="${enabled}"
					class="form-control" id="nazwisko" />
			</div>
			<div class="checkbox">
				<label><input type="checkbox" id="enabled" name="enabled"
					th:checked="${enabled}" /> Aktywny</label>
			</div>
			<div class="checkbox">
				<label><input type="checkbox" id="roleAdmin"
					name="roleAdmin" th:checked="${roleAdmin}" /> Admin</label>
			</div>
			<button type="submit" class="btn btn-default">Zatwierdź</button>
			<button type="reset" class="btn btn-default">Resetuj</button>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	</main>
</body>
</html>