<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Edycja słówek</title>
<thymeleaf th:replace="fragments/head :: head" />
</head>
<body>
	<main class="wrapper">
	<div th:replace="fragments/header :: header"></div>
	<nav th:replace="fragments/sidebar :: sidebar"></nav>
	<div class="col-md-8 col-md-offset-3">
	
		<a  sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}" class="btn btn-primary" role="button">Panel
			administracyjny</a>
		<a th:href="@{/dictionaries/editWords/newWords(id=${dictionaryId})}"
			class="btn btn-success" role="button">Nowe słówka</a>
		<a th:href="@{/dictionaries}"
			class="btn btn-default" role="button">Lista słowników</a>
	
		<h1>Słówka dla słownika : <span th:text="${dictionaryName}"></span> </h1>
		
		<table class="table table-bordered">
			<tr>
				<th>Po polsku</th>
				<th>Tłumaczenie</th>
				<th>Edytuj</th>
				<th>Usuń</th>
			</tr>
			<tr th:each="word : ${wordsList}">
				<th:block th:if="${id} != ${word.wordId}">
					<td th:text="${word.polishWord}"></td>
					<td th:text="${word.foreignTranslation}"></td>
					<td><a role="button" class="btn btn-warning"  th:href="@{/dictionaries/editWords(id=${dictionaryId},word_id=${word.wordId})}">Edytuj</a></td>
					<td><a role="button" class="btn btn-danger" th:href="@{/dictionaries/editWords/deleteWords(id=${word.wordId}, return=${dictionaryId})}">Usuń</a></td>
				</th:block>
				<th:block th:if="${id} == ${word.wordId}">
					<td colspan="4">
						<form th:action="@{/dictionaries/editWord/submit}"
							method="post" class="form-horizontal">
							<input type="hidden" th:value="${word.wordId}" name="wordId"/>
							<input type="hidden" th:value="${dictionaryId}" name="dictionaryId"/>
							<input type="text" th:value="${word.polishWord}" class="col-md-2 form-control" name="polishWord" />
							<input type="text" th:value="${word.foreignTranslation}" class="col-md-2 form-control" name="foreignTranslation" />
							<div class="alert alert-danger" th:each="error: ${#fields.errors('*')}"
				         			th:text="${error}" >Validation error</div>
							<button type="submit" class="col-md-2 btn btn-success">Zatwierdź</button>
							<button type="reset" class="col-md-2 btn btn-default">Resetuj</button>
						</form>
					</td>
				</th:block>
			</tr>
		</table>

	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
	</main>
</body>
</html>