
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Edycja kategorii</title>
<thymeleaf th:replace="fragments/head :: head" />
</head>
<body>
	<main class='wrapper'>
	<div th:replace="fragments/header :: header"></div>
	<nav th:replace="fragments/sidebar :: sidebar"></nav>
	<div class="col-md-4 col-md-offset-5">
		<form action="#" th:action="@{/admin/categories/editCategory/submit}" th:object="${category}"
			method="post" class="form-horizontal">
			<div class="form-group">
				<label for="name">Nazwa:</label> <input type="text"
					th:field="*{name}" class="form-control" id="name" />
			</div>
			<input type="hidden" th:field="*{id}" />
			<div class="alert alert-danger" th:each="error: ${#fields.errors()}"
          			th:text="${error}">Validation error</div>
			<button type="submit" class="btn btn-default">Zatwierdź</button>
		</form>
			<a role="button" class="btn btn-info" th:href="@{/admin/categories}">Cofnij</a>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	</main>
	
</body>
</html>