<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
<thymeleaf th:replace="fragments/head :: head" />
</head>
<body>
	<main class='wrapper'>
	<div th:replace="fragments/header :: header"></div>
	<nav th:replace="fragments/sidebar :: sidebar"></nav>
	<div class="col-md-4 col-md-offset-5">
		<h1>Wystąpił błąd</h1>
		<h3 th:text="${errorName}"></h3>
		<p th:text="${errorInfo}"></p>
		<a th:href="@{/}" class="btn btn-info" role="button">Przejdź na
			stronę główną</a>
		<!-- wypisywanie wszystkich atrybutów dostępnych w thymeleaf
        <table>
		<tr th:each="var : ${#vars}">
		    <td th:text="${var.key}"></td>
		    <td th:text="${var.value}"></td>
		</tr>
		</table>
		 -->
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	</main>
</body>
</html>