<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<thymeleaf th:replace="fragments/head :: head" />
<title>Tytuł</title>
</head>
<body>
<main class="wrapper">
	<div th:replace="fragments/header :: header"></div>
	<nav th:replace="fragments/sidebar :: sidebar"></nav>
	<div class="col-md-4 col-md-offset-5">
	<h1>Witaj na stronie do nauki fiszek!</h1>
	<p sec:authorize="isAuthenticated()">
		<p class="navbar-text">
			Jesteś zalogowany jako: <b sec:authentication="name"></b>
		</p>
	</p>
	<a sec:authorize="isAuthenticated()" th:href="@{/categories}" class="btn btn-primary">
		Rozpocznij naukę</a>
	<p sec:authorize="!isAuthenticated()">
		<a th:href="@{/login}">Tutaj można się zalogować</a>
	</p>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	</main>
</body>
</html>