<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Strona logowania - IO2017</title>
<thymeleaf th:replace="fragments/head :: head" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="col-md-4 col-md-offset-4 alert alert-danger" th:if="${param.error}">Błędny login lub hasło, lub
			użytkownik bez aktywacji.</div>
	<div class="col-md-2 col-md-offset-5">
		<div th:if="${param.logout}">Zostałeś wylogowany.</div>
		<form th:action="@{/login}" method="post" class="form-horizontal">
			<div class="form-group">
				<label> Login : <input type="text" name="username"
					class="form-control" />
				</label>
			</div>
			<div class="form-group">
				<label> Hasło: <input type="password" name="password"
					class="form-control" />
				</label>
			</div>
			<div>
				<input type="submit" value="Zaloguj" />
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>