<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<thymeleaf th:replace="fragments/head :: head" />
<script>
	var obj = {
	    <th:block th:inline="text" th:each="question, iter : ${questions}">
	    '[[${iter.index}]]' : {
	    	'query' : '[[${question.query}]]',
	    	'answer' : '[[${question.answer}]]',
	    	'a' : '[[${question.a}]]',
	    	'b' : '[[${question.b}]]',
	    	'c' : '[[${question.c}]]',
	    	'd' : '[[${question.d}]]',
	    	'choice' : 'a',
	    	'result' : "",
	    },
	    </th:block>
	 	
	};

	var currentPage = 0;
	var numberOfPages = <th:block th:inline="text"> [[${questionsNumber}]] </th:block>;
	var mode = <th:block th:inline="text"> [[${mode}]] </th:block>;
	
	function changeWords(id) {
		document.getElementById('query').innerHTML = obj[id].query;
		
		document.getElementById('a').value = obj[id].a;	
		document.getElementById('for_a').innerHTML = obj[id].a;	
		document.getElementById('b').value = obj[id].b;	
		document.getElementById('for_b').innerHTML = obj[id].b;	
		document.getElementById('c').value = obj[id].c;	
		document.getElementById('for_c').innerHTML = obj[id].c;	
		document.getElementById('d').value = obj[id].d;
		document.getElementById('for_d').innerHTML = obj[id].d;	
		/* document.getElementById('a_option').value = obj[id].a;				
		document.getElementById('b_option').value = obj[id].b;				
		document.getElementById('c_option').value = obj[id].c;				
		document.getElementById('d_option').value = obj[id].d;	 */
		document.getElementById('pageNumber').innerHTML = id + 1;
		
		document.getElementById(obj[currentPage].choice).checked = true;
		
		if(currentPage == 0) {
		    document.getElementById('prevPg').style.display = 'none';
		} else {
			document.getElementById('prevPg').style.display = 'block';
		}
		
		if(currentPage == numberOfPages) {
		    document.getElementById('nextPg').style.display = 'none';
		} else {
			document.getElementById('nextPg').style.display = 'block';
		}
	}
	
	function submitTranslation() {
		obj[currentPage].choice = document.querySelector('input[name="pytanie"]:checked').id;
		obj[currentPage].result = document.querySelector('input[name="pytanie"]:checked').value;
	}
	
	function nextPage() {
		if (currentPage != numberOfPages) {
			submitTranslation();
			currentPage++;
			changeWords(currentPage);
		}
	}
	
	function previousPage() {
		if (currentPage != 0) {
			submitTranslation();
			currentPage--;
			changeWords(currentPage);
		}
	}
	
	function previousAnswer() {
		switch (document.querySelector('input[name="pytanie"]:checked').id) {
            case 'b':  document.getElementById('a').checked = true;
                     break;
            case 'c':  document.getElementById('b').checked = true;
                     break;
            case 'd':  document.getElementById('c').checked = true;
                     break;
            default: break;
		}
	}
	
	function nextAnswer() {
		switch (document.querySelector('input[name="pytanie"]:checked').id) {
	        case 'a':  document.getElementById('b').checked = true;
	                 break;
	        case 'b':  document.getElementById('c').checked = true;
	                 break;
	        case 'c':  document.getElementById('d').checked = true;
	                 break;
	        default: break;
		}
	}
	
	function resultOf(id) {
		return obj[id].answer == obj[id].result;
	}
	
	function computeResult(id, res) {
		if(id > numberOfPages) {
		    return res;
		}
		if (resultOf(id)) {
			return computeResult(id+1,res+1);
		} else {
			return computeResult(id+1,res);
		}
	}
	
	// kod niezbędny aby spring wiedział, że jesteśmy uwierzytelnieni
	$(function () {
		  var token = $("meta[name='_csrf']").attr("content");
		  var header = $("meta[name='_csrf_header']").attr("content");
		  $(document).ajaxSend(function(e, xhr, options) {
		    xhr.setRequestHeader(header, token);
		  });
		});
	
	function showResult() {
		submitTranslation();
 		//window.alert("Twój wynik to: " + computeResult(0,0) + "/" + (numberOfPages+1));
 		submitResult(computeResult(0,0));
	}

	function submitResult(result) {
		<th:block th:inline="text">
			var id = [[${dictionaryId}]];
			var mode = [[${mode}]];
		</th:block>
		$.ajax({
		     type: "POST",
		     url: "../api/submitScore",
		     data: { score: result, dictionaryId: id, modeType: mode}
		})
	}
	
	window.onload = function() {
		numberOfPages--;
		changeWords(0);
	};
	
	document.addEventListener("keyup", function(event) {
	    event.preventDefault();
	    
	    if (event.keyCode == 13) {
	    	if (currentPage == numberOfPages) {
	    		showResult();
	    	} else {
	        	nextPage();    		
	    	}
	    }
	    
	    if (event.keyCode == 37) {
	        previousPage();
	    }
	    
	    if (event.keyCode == 38) {
	        previousAnswer();
	    }
	    
	    if (event.keyCode == 39) {
	    	nextPage();
	    }
	    
	    if (event.keyCode == 40) {
	        nextAnswer();
	    }
	    
	});
</script>


<title>Quiz zamknięty</title>
</head>
<body>
<main class="wrapper">
	<div th:replace="fragments/header :: header"></div>
	<nav th:replace="fragments/sidebar :: sidebar"></nav>
	<div  class="col-md-8 col-md-offset-3">
			<h2>Nazwa słownika: <span th:text="${dictionaryName}"></span> </h2>
			<h3 th:if="${hasEnoughWords}" class="card-title">Pytanie <span id="pageNumber">X</span> / <span th:text="${questionsNumber}"></span>  </h3>
			<div th:if="${hasEnoughWords}" class="row" style="height: 250px;">
		    <div class="col-md-4" style="height: 200px;">
			    <span id="prevPg" style="color: indianred; float:right; margin-top: 95px; font-size: 30px;" class="glyphicon glyphicon-arrow-left"
		    			 onclick="previousPage();" />
		    </div>
			<div class="col-md-4" style="height: 200px;">
				<h2 class="card-title">Przetłumacz</h2>
			    <p id="query" class="card-text" style="font-size:25px;">coś po polsku</p>
				<div>
					<input type="radio" id="a" name="pytanie" value="a" />
						<span id="for_a">Opcja 1</span><br/>
					<input type="radio" id="b" name="pytanie" value="b" />
						<span id="for_b">Opcja 2</span><br/>
					<input type="radio" id="c" name="pytanie" value="c" />
						<span id="for_c">Opcja 3</span><br/>
					<input type="radio" id="d" name="pytanie" value="d" />
						<span id="for_d">Opcja 4</span><br/>
				</div>			    
			</div>
		    <div class="col-md-4" style="height: 200px;">
		    	
		    	<span id="nextPg" style="color: indianred; float:left; margin-top: 95px; font-size: 30px;" class="glyphicon glyphicon-arrow-right"
		    			 onclick="nextPage();" />
		    </div>
		    <div>
		    	<span id="show_result" type="button" class="btn btn-success" onclick="showResult();">Pokaż wynik</span>
		    </div>
		  </div>
		  	<div th:unless="${hasEnoughWords}" class="col-md-12" style="height: 200px;">
				<h4>Słownik nie zawiera wystarczjąco słówek</h4>
			</div>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
	</main>
</body>
</html>