<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<thymeleaf th:replace="fragments/head :: head" />

<script>
var obj = {
	    <th:block th:inline="text" th:each="word, iter : ${words}">
	    '[[${iter.index}]]' : {
	    	'firstLang' : '[[${word.polishWord}]]',
	    	'secondLang' : '[[${word.foreignTranslation}]]',
	    },
	    </th:block>
	 	
	};
	
	var currentPage = 0;
	var numberOfPages = <th:block th:inline="text"> [[${wordsNumber}]] </th:block>;
	var mode = <th:block th:inline="text"> [[${mode}]] </th:block>;
	
	function changeWords(id) {
		if(mode == 0) {
			document.getElementById('firstLanguage').innerHTML = obj[id].firstLang;
			document.getElementById('secondLanguage').innerHTML = obj[id].secondLang;	
		} else {
			document.getElementById('firstLanguage').innerHTML = obj[id].secondLang;
			document.getElementById('secondLanguage').innerHTML = obj[id].firstLang;
		}
		
		hideTranslation();
		
		document.getElementById('pageNumber').innerHTML = id + 1;
		
		if(currentPage == 0) {
		    document.getElementById('prevPg').style.display = 'none';
		} else {
			document.getElementById('prevPg').style.display = 'block';
		}
		
		if(currentPage == numberOfPages) {
		    document.getElementById('nextPg').style.display = 'none';
		} else {
			document.getElementById('nextPg').style.display = 'block';
		}
	}
	
	function showTranslation() {
		document.getElementById('translation').style.display = 'none';
		document.getElementById('secondLanguage').style.display = 'block';
	}
	
	function hideTranslation() {
		document.getElementById('translation').style.display = 'block';
		document.getElementById('secondLanguage').style.display = 'none';
	}
	
	function nextPage() {
		currentPage++;
		changeWords(currentPage);
	}
	
	function previousPage() {
		currentPage--;
		changeWords(currentPage);
	}
	
	window.onload = function() {
		numberOfPages--;
		changeWords(0);
	};

</script>


<title>Quiz fiszki</title>
</head>
<body>
<main class="wrapper">
	<div th:replace="fragments/header :: header"></div>
	<nav th:replace="fragments/sidebar :: sidebar"></nav>
	<div  class="col-md-8 col-md-offset-3">
			<h2>Nazwa słownika: <span th:text="${dictionaryName}"></span> </h2>
			<h3 th:if="${hasWords}" class="card-title">Słówko <span id="pageNumber">X</span> / <span th:text="${wordsNumber}"></span>  </h3>
			<a role="button" class="btn btn-warning" th:if="${hasWords}"
				th:href="@{/quiz/flashcards(id=${dictionaryId}, mode=${changeMode})}">Zmień kierunek</a>
		  <div th:if="${hasWords}" class="row" style="height: 600px;">
		    <div class="col-md-4" style="height: 500px;">
			    <span id="prevPg" style="color: indianred; float:right; margin-top: 235px; font-size: 30px;" class="glyphicon glyphicon-arrow-left"
		    			 onclick="previousPage();" />
		    </div>
			<div class="col-md-4" style="height: 500px;">
			    <div class="card" style="height: 100%;">
			        <div class="card-block" style="height: 50%;">
			            <h2 class="card-title" th:text="${firstHeader}">Card title</h2>
			            <p id="firstLanguage" class="card-text" style="font-size:25px;">coś po polsku</p>
			        </div>
			        
			        <div style="border-top: 1px solid #8c8b8b; height: 50%;"  class="card-block" >
			            <h2 class="card-title" th:text="${secondHeader}">Card title</h2>
			            <p class="card-text">
			                <span id="translation" type="button" class="btn btn-success" onclick="showTranslation();">Pokaż tłumaczenie</span>
			                <span id="secondLanguage" style="font-size:25px;">coś po ang</span>
			            </p>
			        </div>
			
			    </div>
			</div>
		    <div class="col-md-4" style="height: 500px;">
		    	
		    	<span id="nextPg" style="color: indianred; float:left; margin-top: 235px; font-size: 30px;" class="glyphicon glyphicon-arrow-right"
		    			 onclick="nextPage();" />
		    </div>
		  </div>
		  	<div th:unless="${hasWords}" class="col-md-12" style="height: 500px;">
				<h4>Słownik nie zawiera żadnych słówek</h4>
			</div>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
	</main>
</body>
</html>